.createTodo {
  display: flex;
  gap: 5px;
  align-items: center;
  color: #3d82eb;
}
.todoButton {
  text-decoration: none;
  padding: 0;
  border: none;
  background: none;
}
.todoItemContainer {
  display: flex;
  width: 100%;
  border: 1px solid #e0e0e0;
  border-radius: 6px;
  padding: 10px 5px;
}

.contentContainer {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-left: 5px;
}

.inputDateContainer {
  display: flex;
  flex-direction: column;
  gap: 5px;
  font-size: 16px;
}
.inputDateContainer input {
  background-color: #fff;
  color: #000;
}

.inputText {
  border: none;
  outline: none;
}

@media only screen and (max-width: 1200px) {
  .todoItemContainer {
    width: 800px;
  }
}
@media only screen and (max-width: 1050px) {
  .todoItemContainer {
    width: 600px;
  }
}
@media only screen and (max-width: 800px) {
  .todoItemContainer {
    width: 550px;
  }
}
@media only screen and (max-width: 650px) {
  .search {
    width: 350px;
  }
}
@media only screen and (max-width: 400px) {
  .search {
    width: 200px;
  }
}
