.todosContainer {
  height: 100vh;
  background-color: #fff;
  color: #000;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.todosContainerHead {
  display: flex;
  align-items: center;
  gap: 10px;
}
.todoListContainer {
  display: flex;
}
.searchContainer {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: space-between;
}
.search {
  width: 782px;
  height: 24px;
  background-color: #fff;
  border-radius: 25px;
  border: 2px solid;
  border-color: #e0e0e0;
  border-style: inset;
}

.select {
  -webkit-appearance: none;
  background-color: #fff;
  outline: none;
  border: 0;
  color: #000;
  text-align: center;
  color: #499557;
  font-size: medium;
}
.wrapper {
  margin: 0 auto;
}

/* TODO ITEM LIST */

.todoItem {
  display: flex;
  justify-content: space-between;
  background-color: #000;
}

.todoTick {
  display: flex;
  gap: 5px;
  align-items: center;
}

.todoItem button {
  background-color: #fff;
  outline: none;
  border: 0;
}
.todoItem {
  background-color: #fff;
  margin: 2px 0px;
  padding: 2px 0;
  padding-right: 5px;
}

.todoListContainer {
  display: flex;
  flex-direction: column;
  padding: 15px 0px 7px;
}

.todoTick p {
  min-width: 900px;
}

.todoOverdue {
  background-color: rgb(255, 232, 232) !important;
  border-radius: 12px;
}
.todoOverdue button {
  background-color: rgb(255, 232, 232) !important;
}

.listIcons {
  display: flex;
}

.actLog {
  color: #3d82eb;
}

@media only screen and (max-width: 1200px) {
  .search {
    width: 800px;
  }
}
@media only screen and (max-width: 1050px) {
  .search {
    width: 670px;
  }
}
@media only screen and (max-width: 900px) {
  .search {
    width: 600px;
  }
}
@media only screen and (max-width: 800px) {
  .search {
    width: 550px;
  }
}
@media only screen and (max-width: 700px) {
  .search {
    width: 500px;
  }
}
@media only screen and (max-width: 650px) {
  .search {
    width: 400px;
  }
}
@media only screen and (max-width: 500px) {
  .search {
    width: 280px;
  }
}
@media only screen and (max-width: 400px) {
  .search {
    width: 230px;
  }
}
