.todosContainer {
  height: 100vh;
  background-color: #fff;
  color: #000;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.todosContainerHead {
  display: flex;
  align-items: center;
  gap: 10px;
}

.searchContainer {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}
.search {
  width: 782px;
  height: 24px;
  background-color: #fff;
  border-radius: 25px;
  border: 2px solid;
  border-color: #e0e0e0;
  border-style: inset;
}

.select {
  -webkit-appearance: none;
  background-color: #fff;
  outline: none;
  border: 0;
  color: #000;
  text-align: center;
  color: #499557;
  font-size: medium;
}
.wrapper {
  width: 1060px;
  margin: 0 auto;
}

/* TODO ITEM LIST */

.todoItem {
  display: flex;
  justify-content: space-between;
  background-color: #000;
}

.todoTick {
  display: flex;
  gap: 5px;
  align-items: center;
}

.todoItem button {
  background-color: #fff;
  outline: none;
  border: 0;
}
.todoItem {
  background-color: #fff;
  margin: 2px 0px;
  padding: 2px 0;
}

.todoListContainer {
  display: flex;
  flex-direction: column;
  padding: 15px 0px 7px;
}

.todoTick p {
  min-width: 400px;
}

.todoOverdue {
  background-color: rgb(255, 232, 232) !important;
  border-radius: 12px;
}
.todoOverdue button {
  background-color: rgb(255, 232, 232) !important;
}

.listIcons {
  display: flex;
}

.actLog {
  color: #3d82eb;
}
